* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
}

p {
	padding-bottom: 0;
}

.navBar {
	padding: 0px 35px;
}
.nav-links {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.logo {
	display: block;
	height: 60px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 5px;
}

.bars {
	font-size: 25px;
	cursor: pointer;
	margin-top: 20px;
}

.freeze {
	overflow: hidden;
}

.side-bar {
	background-color: #fff;
	position: absolute;
	height: 100vh;
	right: 0;
	width: 345px;
	justify-content: center;
	display: grid;
	position: fixed;
	z-index: 999;
}

.link {
	text-decoration: none;
	color: #000;
}

.side-bar-links {
	list-style: none;
	margin-top: 80px;
}

.side-bar-link {
	font-size: 30px;
	padding: 15px 0;
}

.hidden {
	display: none;
}

/* youttube iframe */
.video {
	width: 100%;
	margin: auto;
	z-index: 1;
}

/* form section */
.form-container {
	display: grid;
	justify-content: center;
	margin: 100px 30%;
	max-width: 600px;
}

.form-details {
	padding: 30px 0;
}

.form {
	display: grid;
}
.flex {
	display: flex;
	gap: 50px;
}

.grid {
	display: grid;
}

label {
	margin-left: 10px;
	margin-bottom: 5px;
}

.phone {
	max-width: 300px;
	min-width: 250px;
}

.form-input {
	margin-bottom: 10px;
	border-radius: 15px;
	border: 1px solid black;
	box-shadow: 0px 0px 10px rgb(201, 199, 199);
	padding: 10px 10px;
	background-color: rgb(252, 252, 252);
}

.message {
	margin-bottom: 10px;
	padding: 10px 10px;
	height: 50px;
	border-radius: 15px;
	border: 1px solid black;
	box-shadow: 0px 0px 10px gray;
	background-color: rgb(252, 252, 252);
}
.form-input-refer {
	border-radius: 15px;
	border: 1px solid black;
	box-shadow: 0px 0px 10px gray;
	padding: 10px 10px;
	background-color: rgb(252, 252, 252);
}

.captcha {
	margin-top: 5px;
	margin-left: 10px;
	font-size: 12px;
}

.button-container {
}

.form-btn {
	float: right;
	margin: 20px 0;
	border: none;
	border-radius: 15px;
	background-color: #9c90c5;
	cursor: pointer;
	color: black;
	font-weight: 600;
	padding: 10px 20px;
}

.form-btn:hover {
	color: white;
	background-color: black;
}

@media (max-width: 750px) {
	.flex {
		display: block;
	}

	.form-container {
		margin: 100px 5%;
	}

	.phone {
		min-width: unset;
		max-width: unset;
	}
}

/* footer */
footer {
	display: grid;
	justify-content: center;
	padding: 50px 0;
	background-color: rgb(29, 29, 29);
	color: white;
}

.footer-links {
	font-size: 23px;
	display: flex;
	list-style: none;
	gap: 60px;
}

.social-links {
	display: flex;
	gap: 80px;
	justify-content: center;
	margin: 30px 0;
}
.icons {
	font-size: 40px;
}

.middle {
	margin: 0px 60px;
}

.legal {
	text-align: center;
}

@media (max-width: 750px) {
	footer {
		padding: 20px 50px;
		justify-content: unset;
	}
	.footer-links {
		display: block;
	}
	.social-links {
		display: block;
	}
	.flex-links {
		margin-bottom: 40px;
	}

	.legal {
		text-align: unset;
	}
}
