* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
}

p {
	padding-bottom: 0;
}

.freeze {
	position: fixed;
	overflow: hidden;
}

.navBar {
	padding: 0px 35px;
}
.nav-links {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.logo {
	display: block;
	height: 60px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 5px;
}

.bars {
	font-size: 25px;
	cursor: pointer;
	margin-top: 20px;
}

/* sidebar */

.side-bar {
	background-color: #fff;
	position: absolute;
	height: 100vh;
	right: 0;
	width: 345px;
	justify-content: center;
	display: grid;
	position: fixed;
}

.link {
	text-decoration: none;
	color: #000;
}

.side-bar-links {
	list-style: none;
	margin-top: 80px;
}

.side-bar-link {
	font-size: 30px;
	padding: 15px 0;
}

.hidden {
	display: none;
}

/* values section */
.values {
	padding: 50px 40px;
}

.value-container-title {
	border-bottom: 3px solid #9c90c5;
	width: 300px;
}

.core-details {
	width: 60%;
	margin: 80px auto;
}

.values-content {
	display: flex;
	gap: 150px;
	margin: 50px 100px;
}

.value-container {
	box-shadow: 0px 0px 10px gray;
	border-radius: 10px;
	display: flex;
	gap: 20px;
	padding: 30px 30px;
}

.value-image {
	max-height: 200px;
	margin-left: -100px;
	border-radius: 10px;
}

.value {
	height: 200px;
}

.value-title {
	font-size: 25px;
}
.details {
	padding-top: 15px;
	max-width: 300px;
	font-size: 14px;
	height: 150px;
	overflow: auto;
}

@media (max-width: 1150px) {
	.values-content {
		display: block;
	}

	.value-container {
		margin-bottom: 50px;
	}
	.details {
		max-width: unset;
	}
}

@media (max-width: 650px) {
	.values {
		padding: 50px 10px;
	}
	.core-details {
		width: 100%;
	}
	.value-container {
		display: block;
		padding: 30px 10px;
	}
	.values-content {
		margin: 50px 20px;
	}

	.value-image {
		margin-left: unset;
		height: 150px;
		display: block;
		width: 95%;
		margin: auto;
	}
}

/* footer */
footer {
	display: grid;
	justify-content: center;
	padding: 50px 0;
	background-color: rgb(29, 29, 29);
	color: white;
}

.footer-links {
	font-size: 23px;
	display: flex;
	list-style: none;
	gap: 60px;
}

.social-links {
	display: flex;
	gap: 80px;
	justify-content: center;
	margin: 30px 0;
}
.icons {
	font-size: 40px;
}

.middle {
	margin: 0px 60px;
}

.legal {
	text-align: center;
}

@media (max-width: 750px) {
	footer {
		padding: 20px 50px;
		justify-content: unset;
	}
	.footer-links {
		display: block;
	}
	.social-links {
		display: block;
	}
	.flex-links {
		margin-bottom: 40px;
	}

	.legal {
		text-align: unset;
	}
}
